hotelmgmt_sys_api/src/main/mule/implimentation/delete-hotelInfo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:mongo="http://www.mulesoft.org/schema/mule/mongo"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/mongo http://www.mulesoft.org/schema/mule/mongo/current/mule-mongo.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="delete:\hotelInfo:hotelMgmt_sys_api-config" doc:id="f48b085e-aa0f-42d7-abd4-5480f24ab8b1" >
		<logger level="INFO" doc:name="deleteflow started" doc:id="29a22c45-f761-49a0-afad-48389a816683" message="deleteflow started"/>
		<ee:transform doc:name="Transform Message" doc:id="a5015c0c-9490-4d3b-a19a-131557b66e40" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="deleteflow completed" doc:id="69298387-4113-4f68-832e-7f0d204eb460" />
		<flow-ref doc:name="Flow Reference" doc:id="330babd4-669d-4793-bb69-fe1690a1991e" name="delete-subflow"/>
	</flow>
	<sub-flow name="delete-subflow" doc:id="ad7db920-beb2-4c8c-99e5-a1b674a357cf" >
		<logger level="INFO" doc:name="Search Flow Started" doc:id="26c8ad46-c5cd-4d7d-85d1-f520a421c817" message="Search Flow Started" />
		<mongo:find-documents doc:name="Find documents" doc:id="e935cb30-392e-4d08-b002-d21a1fa9c340" config-ref="MongoDB_Config" />
		<ee:transform doc:name="Transform Message" doc:id="6b084849-5258-455f-8d7f-ed60fcadfe95">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Search flow Completed" doc:id="4250ab5a-d78f-499f-b348-04f0cefc7e31" />
		<choice doc:name="Choice" doc:id="09d7ef48-cfbf-4d31-a9d3-0aee7d45d131">
			<when expression="#[!isEmpty(payload)]">
				<flow-ref doc:name="delete-hoteld Flow Reference" doc:id="731928ca-0d03-4216-9c25-672011ebc5f3" name="delete-hoteld" />
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="7ed9b0be-25a3-413c-a706-7486874722fe">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json	
---
{
 "message": "hotelId already deleted"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</sub-flow>
	<sub-flow name="delete-hoteld" doc:id="70fdaa81-0ef4-444e-9411-7651bea04969" >
		<logger level="INFO" doc:name="Logger" doc:id="9361927f-1855-4139-a74f-7af685c3003d" message="deleteHotelid Started"/>
		<mongo:remove-documents doc:name="Remove documents" doc:id="e10fea4b-ecd3-434b-93c3-bf6921740936" config-ref="MongoDB_Config"/>
		<ee:transform doc:name="Transform Message" doc:id="c0bf503c-96cc-42c7-95d8-08dfcf90d21f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="d8ab6e87-1d6a-42f9-94f5-e88a3505f2d7" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "hotelId removed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f6cb13d2-b0e6-4ae1-a23d-05e8b0e9393f" message="Hotelid Remove completed"/>
	</sub-flow>
</mule>
